.slick-dots {
  bottom: 10px;
}

.slick-dots li button::before,
.slick-dots li.slick-active button::before {
  opacity: 1;
}

@font-face {
  font-family: 'Gilroy Light';
  src: url("./fonts/Gilroy-Light.woff") format("woff");
  font-weight: light;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy Extra Bold';
  src: url("./fonts/Gilroy-ExtraBold.woff") format("woff");
  font-weight: heavy;
  font-style: normal;
}

@font-face {
  font-family: 'slick';
  src: url("./fonts/slick.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: #56585a;
}

a:focus {
  outline: none;
}

a:hover {
  color: #1b99ff;
}

button {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border: none;
  background: transparent;
}

button:focus {
  outline: none;
}

img {
  display: block;
}

li {
  list-style: none;
}

.wrapper {
  max-width: 1020px;
  padding: 0 20px;
  margin: 0 auto;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.preview {
  width: 100%;
  min-height: 100vh;
  background: url("./../img/1bg.png") no-repeat 50% 100%;
  background-size: cover;
  z-index: 1;
}

.preview__header {
  padding-top: 40px;
  min-height: 120px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.preview .header__logo {
  width: 310px;
  height: 45px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.preview .header__logo--text {
  width: 185px;
  text-transform: uppercase;
  color: #3f3f40;
  font-size: 14px;
  line-height: 18px;
  font-weight: 600;
  font-family: 'Gilroy Extra Bold';
}

.preview .header__logo--img:hover {
  opacity: 0.2;
}

.preview .header__phone {
  width: 260px;
  height: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  color: #fff;
  font-family: 'Gilroy Extra Bold';
}

.preview .header__phone--number {
  font-size: 30px;
  line-height: 1;
  font-weight: 600;
}

.preview .header__phone--scedule {
  align-self: flex-start;
  margin: 0 auto;
  font-size: 12px;
  font-family: 'Gilroy Light';
  font-style: italic;
  line-height: 1;
}

.content {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-end;
}

.content__container {
  max-width: 410px;
  min-height: 480px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 90px;
  background: linear-gradient(#3b2fc0, #1b99ff);
  -webkit-background-clip: text;
  color: transparent;
}

.content__title {
  font-family: 'Gilroy Extra Bold';
  text-transform: uppercase;
}

.content__title--small {
  font-size: 64px;
  background: linear-gradient(#3b2fc0, #1b99ff);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 7px;
  line-height: 1;
}

.content__title--huge {
  font-size: 161px;
  color: #fff;
  line-height: 1;
}

.content__form {
  display: flex;
  flex-direction: column;
}

.content__form input {
  background: transparent;
  border: none;
  border-bottom: 3px solid;
  color: #fff;
  font-size: 18px;
  font-family: 'Gilroy Light';
  height: 50px;
  width: 400px;
  overflow: hidden;
  outline: none;
}

.content__form input:focus {
  outline: none;
}

.content__form input::-webkit-input-placeholder {
  color: #fff;
  font-size: 18px;
  font-family: 'Gilroy Light';
}

.content__form input::-moz-placeholder {
  color: #fff;
  font-size: 18px;
  font-family: 'Gilroy Light';
}

.content__form .name {
  border-color: #5327ff;
}

.content__form .email {
  border-color: #4922df;
}

.content__button {
  width: 400px;
  height: 90px;
  box-shadow: 0 0 50px 50px rgba(44, 57, 142, 0.3);
  border-radius: 40px;
  background: linear-gradient(#3b2fc0, #1b99ff);
  -webkit-background-clip: button;
  color: transparent;
  margin-top: 47px;
  color: #fff;
  font-family: 'Gilroy Extra Bold';
  font-size: 30px;
  z-index: 5;
}

.content__button:hover {
  background: linear-gradient(#d61329, #da2f5c);
}

.video {
  width: 100%;
  min-height: 1100px;
  background: url("./../img/2bg.png") no-repeat 0 0;
  background-size: cover;
  position: relative;
}

.video__text {
  font-family: 'Gilroy Extra Bold';
  display: flex;
  min-height: 500px;
  flex-direction: column;
  padding-top: 250px;
}

.video__text--small {
  color: #fff;
  letter-spacing: 7px;
  line-height: 1;
  font-size: 64px;
  text-transform: uppercase;
}

.video__text--huge {
  font-size: 161px;
  line-height: 1;
  background: linear-gradient(#3b2fc0, #1b99ff);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-transform: uppercase;
}

@media (max-width: 1239px) {
  .video__text--huge {
    font-size: 120px;
  }
}

.video__text--subtitle {
  width: 280px;
  color: #fff;
  font-size: 16px;
  font-family: 'Gilroy Light';
  margin-left: 20px;
}

.video__text--subtitle span {
  font-family: 'Gilroy Extra Bold';
}

.video__btn {
  box-shadow: 0 0 80px 80px rgba(44, 57, 142, 0.5);
  border-radius: 50%;
  background-color: rgba(44, 57, 142, 0.5);
  position: absolute;
  left: 38%;
  bottom: 35%;
  z-index: 2;
}

.video__btn:hover {
  box-shadow: 0 0 80px 80px rgba(245, 4, 36, 0.5);
  background-color: rgba(245, 4, 36, 0.5);
}

.video__btn button:hover {
  opacity: 0.5;
}

@media (max-width: 1239px) {
  .video__btn {
    border: 10px solid #5327ff;
    padding: 100px;
    left: 35%;
    bottom: 30%;
    border-radius: 50%;
  }
}

.button__page-up {
  position: fixed;
  right: 40px;
  bottom: 40px;
  width: 50px;
  height: 50px;
  border-radius: 20px;
  background: linear-gradient(#3b2fc0, #1b99ff);
  color: #fff;
  font-size: 30px;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  pointer-events: none;
  z-index: 20;
  cursor: pointer;
}

.button__page-up:hover {
  background: linear-gradient(#d61329, #da2f5c);
}

.button__page-up:focus {
  outline: none;
}

.button__page-up.is-visible {
  opacity: 1;
  pointer-events: auto;
}

.modal {
  font-family: 'Gilroy Light';
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.65);
  z-index: 200;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease-in-out;
  transform: scale(0);
  overflow: hidden;
}

.modal--show {
  opacity: 1;
  pointer-events: auto;
  transform: scale(1);
}

.modal__container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.modal__wrapper {
  max-width: 90%;
  width: 590px;
  height: auto;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.modal__header {
  background: linear-gradient(#d61329, #da2f5c);
  color: #fff;
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px 5px 0 0;
  font-size: 18px;
}

.modal__btn--close {
  background-color: transparent;
  font-size: 24px;
  border: none;
  color: #fff;
}

.modal__btn--close:hover {
  color: #000;
}

.modal__body {
  padding: 15px;
  line-height: 1.5;
}

.modal__footer {
  border-top: 1px solid #d61329;
  padding: 15px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.modal__btn--submit {
  padding: 0 20px;
  height: 40px;
  background: linear-gradient(#d61329, #da2f5c);
  color: #fff;
  border: none;
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
  font-size: 16px;
  cursor: pointer;
}

.modal__btn--submit:hover {
  background: linear-gradient(#3b2fc0, #1b99ff);
}

.benefits {
  width: 100%;
  min-height: 850px;
  background: url("./../img/3bg.png") no-repeat 0 0;
  background-size: cover;
  position: relative;
}

.benefits__banner {
  width: 420px;
  height: 420px;
  position: absolute;
  z-index: 5;
  left: 40%;
  top: -15%;
}

@media (max-width: 1239px) {
  .benefits__banner {
    width: 300px;
    height: 300px;
    left: 0;
  }
}

.benefits__coaches {
  width: 290px;
  height: 290px;
  position: absolute;
  z-index: 2;
  left: 68%;
  top: 10%;
}

@media (max-width: 1239px) {
  .benefits__coaches {
    width: 200px;
    height: 200px;
    left: 50%;
  }
}

.benefits__gym {
  width: 290px;
  height: 290px;
  position: absolute;
  z-index: 2;
  left: 22%;
  top: 48%;
}

@media (max-width: 1239px) {
  .benefits__gym {
    width: 200px;
    height: 200px;
    right: 50%;
    top: 30%;
  }
}

.benefits__slogan {
  width: 160px;
  height: auto;
  color: #fff;
  font-size: 19px;
  font-family: 'Gilroy Extra Bold';
  letter-spacing: 3px;
  text-transform: uppercase;
  text-align: center;
  box-shadow: 0 0 50px 50px rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
}

.benefits__slogan--coaches {
  position: absolute;
  z-index: 8;
  bottom: 0;
  right: 15%;
}

.benefits__slogan--gym {
  position: absolute;
  z-index: 8;
  bottom: 0;
  left: 15%;
}

.benefits__content {
  position: absolute;
  right: 10%;
  bottom: 15%;
  z-index: 10;
}

.benefits__form {
  display: flex;
  flex-direction: column;
}

.benefits__form input {
  background: transparent;
  border: none;
  border-bottom: 3px solid;
  color: #fff;
  font-size: 18px;
  font-family: 'Gilroy Light';
  height: 50px;
  width: 400px;
  overflow: hidden;
  outline: none;
}

.benefits__form input:focus {
  outline: none;
}

.benefits__form input::-webkit-input-placeholder {
  color: #fff;
  font-size: 18px;
  font-family: 'Gilroy Light';
}

.benefits__form input::-moz-placeholder {
  color: #fff;
  font-size: 18px;
  font-family: 'Gilroy Light';
}

.benefits__form .name {
  border-color: #5327ff;
}

.benefits__form .email {
  border-color: #4922df;
}

.benefits__button {
  width: 400px;
  height: 90px;
  box-shadow: 0 0 50px 50px rgba(44, 57, 142, 0.3);
  border-radius: 40px;
  background: linear-gradient(#3b2fc0, #1b99ff);
  -webkit-background-clip: button;
  color: transparent;
  margin-top: 47px;
  color: #fff;
  font-family: 'Gilroy Extra Bold';
  font-size: 30px;
}

.benefits__button:hover {
  background: linear-gradient(#d61329, #da2f5c);
}

.name__benefits {
  width: 400px;
  margin: 0;
}

.testimonials {
  width: 100%;
  min-height: 888px;
  background: url("./../img/4bg.png") no-repeat center;
  background-size: cover;
  position: relative;
}

.testimonials__slider {
  min-height: 400px;
  max-width: 270px;
  position: absolute;
  bottom: 0;
  left: 30%;
}

.item {
  color: #000;
  font-family: 'Gilroy Extra Bold';
}

.item__name {
  font-size: 48px;
}

.item__experience {
  font-size: 18px;
  letter-spacing: 2px;
  opacity: 0.7;
  margin-bottom: 40px;
}

.item__testimonial {
  font-family: 'Gilroy Light';
  font-size: 16px;
  line-height: 26px;
  font-weight: 600;
}

.slick-arrow {
  max-width: 61px;
  position: absolute;
  bottom: 55px;
  text-decoration: underline;
  border: none;
  background-color: transparent;
  border-radius: 50%;
  font-size: 14px;
  font-family: 'Gilroy Extra Bold';
  letter-spacing: 2px;
  z-index: 10;
}

.slick-arrow:hover {
  color: #d61329;
}

.slick-prev {
  left: 0;
}

.slick-next {
  right: 0;
}

.slick-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  bottom: 50px;
  transform: translateX(-55%);
}

.slick-dots li {
  list-style: none;
  margin: 0 5px;
  line-height: 1;
}

.slick-dots li button {
  text-indent: -9999px;
  border-radius: 50%;
  width: 6px;
  height: 6px;
  background-color: #000;
}

.slick-dots li.slick-active button {
  position: relative;
}

.slick-dots li.slick-active button:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid #000;
  transition: all 0.3s ease-in-out;
}

.confirm {
  width: 100%;
  min-height: 265px;
  background: linear-gradient(#d61329, #da2f5c);
  position: relative;
  z-index: 1;
}

.confirm__button {
  width: 370px;
  height: 90px;
  background-color: #c60e2a;
  box-shadow: 0 0 90px 30px rgba(255, 255, 255, 0.3);
  border-radius: 40px;
  color: #fff;
  font-family: 'Gilroy Extra Bold';
  font-size: 30px;
  text-transform: uppercase;
  position: absolute;
  z-index: 15;
  top: calc(50% - 45px);
  right: 10%;
}

.confirm__button:hover {
  background: linear-gradient(#3b2fc0, #1b99ff);
}

@media (max-width: 1239px) {
  .confirm__button {
    right: 0;
  }
}

.confirm__text {
  color: #fff;
  font-family: 'Gilroy Light';
  font-weight: 600;
  font-size: 18px;
  opacity: 0.6;
  vertical-align: right;
  position: absolute;
  z-index: 2;
  top: calc(50% + 65px);
  right: calc(10% + 85px);
}

.two-sections__wrapper {
  position: relative;
  z-index: 1;
}

.contacts {
  width: 100%;
  min-height: 960px;
  background: url("./../img/5bgr.png") no-repeat center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contacts__man {
  position: absolute;
  z-index: 2;
  top: 50px;
  left: 10%;
}

@media (max-width: 1239px) {
  .contacts__man {
    left: 0;
  }
}

.contacts__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  margin-top: 160px;
  min-height: 800px;
  width: 100%;
}

@media (max-width: 1239px) {
  .contacts__container {
    flex-direction: column;
    justify-content: center;
  }
}

.contacts__title {
  width: 100%;
  font-family: 'Gilroy Extra Bold';
  text-transform: uppercase;
  margin-bottom: 60px;
  z-index: 15;
  text-align: right;
}

.contacts__title--huge {
  font-size: 101px;
  background: linear-gradient(#3b2fc0, #1b99ff);
  -webkit-background-clip: text;
  color: transparent;
  line-height: 1;
}

.contacts__title--small {
  font-size: 58px;
  color: #fff;
  line-height: 1;
  letter-spacing: 7px;
}

.contacts__address {
  max-width: 300px;
  height: auto;
  padding-left: 120px;
  z-index: 15;
}

@media (max-width: 1239px) {
  .contacts__address {
    margin-bottom: 50px;
  }
}

.contacts__form {
  z-index: 15;
  display: flex;
  flex-direction: column;
}

.contacts__form input {
  background: transparent;
  border: none;
  border-bottom: 3px solid;
  color: #fff;
  font-size: 18px;
  font-family: 'Gilroy Light';
  height: 50px;
  width: 400px;
  overflow: hidden;
  outline: none;
}

.contacts__form input:focus {
  outline: none;
}

.contacts__form input::-webkit-input-placeholder {
  color: #fff;
  font-size: 18px;
  font-family: 'Gilroy Light';
}

.contacts__form input::-moz-placeholder {
  color: #fff;
  font-size: 18px;
  font-family: 'Gilroy Light';
}

.contacts__form .name {
  border-color: #5327ff;
}

.contacts__form .email {
  border-color: #4922df;
}

.contacts__form .form-button {
  width: 390px;
  height: 85px;
  box-shadow: 0 0 50px 50px rgba(44, 57, 142, 0.3);
  border-radius: 40px;
  background: linear-gradient(#3b2fc0, #1b99ff);
  -webkit-background-clip: button;
  color: transparent;
  margin-top: 47px;
  color: #fff;
  font-family: 'Gilroy Extra Bold';
  font-size: 24px;
}

.contacts__form .form-button:hover {
  background: linear-gradient(#d61329, #da2f5c);
}

.contacts__socials ul {
  margin: 100px auto;
  width: 250px;
  height: 35px;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.contacts__socials ul li {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 3px solid #56585a;
  margin-right: 20px;
  position: relative;
  cursor: pointer;
  transition: all 0.5s linear;
}

.contacts__socials ul li:last-child {
  margin-right: 0;
}

.contacts__socials ul li .ion {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #56585a;
  font-size: 30px;
  transition: all 0.5s linear;
}

.contacts__socials ul li:hover {
  background: #1b99ff;
  box-shadow: 0 0 30px 3px #1b99ff;
  border-color: #1b99ff;
}

.contacts__socials ul li:hover .ion {
  color: #fff;
}

@media screen and (max-width: 640px) {
  .contacts__socials .wrapper ul {
    width: 100px;
  }
  .contacts__socials .wrapper ul li {
    margin-top: 20px;
  }
}

.address {
  color: #56585a;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: 'Gilroy Extra Bold';
}

.address__logo {
  width: 100px;
  height: 45px;
  margin-bottom: 20px;
}

.address__subtitle {
  margin-bottom: 40px;
}

.address__location {
  color: #fff;
  margin-bottom: 25px;
}

.address__manager {
  color: #3f3f40;
  font-size: 12px;
}
/*# sourceMappingURL=main.css.map */