.button__page-up {
  position: fixed;
  right: 40px;
  bottom: 40px;
  width: 50px;
  height: 50px;
  border-radius: 20px;
  background: linear-gradient($lightblue, $brightblue);
  box-shadow: 0 0 50px rgb(23, 50, 223);
  color:$white;
  font-size: 30px;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  pointer-events: none;
  z-index: 20;
  cursor: pointer;
}

.button__page-up:hover {
  background: linear-gradient($scarlet, $lightpink);
  box-shadow: 0 0 50px $white;
}

.button__page-up:focus {
  outline: none;
}

.button__page-up.is-visible {
  opacity: 1;
  pointer-events: auto;
}

.modal {
  font-family: 'Gilroy Light';
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.65);
  z-index: 200;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease-in-out;
  transform: scale(0);
  overflow: hidden;
}

.modal--show {
  opacity: 1;
  pointer-events: auto;
  transform: scale(1);
}

.modal__container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.modal__wrapper {
  width: 870px;
  height: auto;
  background-color: $white;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

.modal__header {
  background: linear-gradient($scarlet, $lightpink);
  color: $white;
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px 5px 0 0;
  font-size: 18px;
}

.modal__btn--close {
  background-color: transparent;
  font-size: 24px;
  border: none;
  color: $white;
}

.modal__btn--close:hover {
  color: $black;
}

.modal__body {
  padding: 15px;
  line-height: 1.5;
}

.modal__footer {
  border-top: 1px solid $scarlet;
  padding: 15px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}


.modal__btn--submit {
  padding: 0 20px;
   height: 40px;
   background: linear-gradient($scarlet, $lightpink);
   color: $white;
   border: none;
   border-radius: 4px;
   transition: all 0.3s ease-in-out;
   font-size: 16px;
   cursor: pointer;
}

.modal__btn--submit:hover {
  background: linear-gradient($lightblue, $brightblue);
}