.testimonials {
  width: 100%;
  min-height: 888px;
  background: url('./../img/4bg.png') no-repeat center;
  background-size: cover;
  position: relative;
  &__slider {
    min-height: 400px;
    max-width: 270px;
    position: absolute;
    bottom:0;
    left: 30%;
  }
}

.item {
  color: $black;
  font-family: 'Gilroy Extra Bold';
  &__name {
    font-size: 48px;
  }
  &__experience {
    font-size: 18px;
    letter-spacing: 2px;
    opacity: 0.7;
    margin-bottom: 40px;
  }
  &__testimonial {
    font-family: 'Gilroy Light';
    font-size: 16px;
    line-height: 26px;
    font-weight: 600;
  }
}

.slick-arrow {
  position: absolute;
  bottom: 50px;
  text-decoration: underline;
  border: none;
  background-color: transparent;
  border-radius: 50%;
  font-size: 14px;
  font-family: 'Gilroy Extra Bold';
  letter-spacing: 2px;
  z-index: 10;
  &:hover {
    color: $scarlet;
  }
}
.slick-prev {
  left: 0;
}
.slick-next {
  right: 0;
}
.slick-dots {
  display: flex;
  justify-content: center;
  position: absolute;
  left: 50%;
  bottom: 50px;
  transform: translateX(-50%);
  li {
    list-style: none;
    margin: 0 5px;
    &.slick-active button {
      background-color: transparent;
      color: $black;
      width: 5px;
      height: 5px;
      border: 1px solid $black;
      padding: 5px;
    }
  }
  button {
    font-size: 0;
    background-color: $black;
    width: 5px;
    height: 5px;
    border-radius: 50%;
  }
}

 
