@font-face {
  font-family: 'Gilroy Light';
  src: url('./fonts/Gilroy-Light.woff') format('woff');
  font-weight: light;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy Extra Bold';
  src: url('./fonts/Gilroy-ExtraBold.woff') format('woff');
  font-weight: heavy;
  font-style: normal;
}

@font-face {
  font-family: 'slick';
  src: url('./fonts/slick.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
