$black: #000;
$white: #fff;
$darkgray: #333b46;
$gray:#a7aab0;
$lightgray: #f3f3f3;
$green: #008000;
$aqua: #19bd9a;
$navy: #3a5796;
$blue: #26a6d1;
$darkblue: #0e76a8;
$lightnavy: #3f729b;
$lightblue: #86c9ef;
