*,
*:after,
*:before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
}

body {
  background: #F1F1F1;
}

main {
  margin-left: 112px;
  margin-right: 112px;
  font-family: Geneva, Arial, Helvetica, sans-serif;
}

.top {
  width: 100%;
  margin: 50px auto;
  display: inline-block;
}

::-webkit-input-placeholder { color: #C2C2C2;}
::-moz-input-placeholder {color: #c2c2c2;}
::-ms-input-placeholder {color: #c2c2c2;}

input {
  width: 80%;
  background: #F1F1F1;
  border: none;
  font-size: 85px;
  font-weight: 600;
  float: left;
  color: #ec5a62;
  padding-left: 15px;
}    

placeholder{
  color: #c2c2c2;
}

.icon {
  width: 20%;
  height: 50px;
  border: 0;
  cursor: pointer;
  background-size: contain;
  opacity: .4;
  background: #F1F1F1;    
}

.content {   
  color:#C2C2C2;
  font-weight: bold;
  width: 100%;
  margin-bottom: 150px;     
}

.item { 
  display: inline-block;
  width: 30%;
}

.popular { 
  margin-left: 40px;
  margin-right: 40px;  
}

ul { 
  list-style: none;
  height:365px;
  border: 2px solid #F1F1F1;
  font-size:12px;
  margin-top: 20px;
  font-weight: bold;     
}

ul span {
  line-height: 60px;
  margin-left: 10%; 
  vertical-align: middle;
}

li {
  background:rgba(118,117,128,0.05);
  border: 2px solid #F1F1F1;
  height: 60px;
}

li:hover {
  background: rgba(118,117,128,0.1);
  color: #ec5a62;
}

.avatar,.picture {
  margin: 10px;
  float: left;
}

.avatar {
  width: 40px;
  border-radius: 50%;
}
.picture {
  width: 40px;
}