@font-face {
  font-family: 'Segoe UI Bold';
  src: url('./../fonts/SegoeUIBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Segoe UI Regular';
  src: url('./../fonts/SegoeUIRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.header {
  background: #23232e;
  width: 100%;
  height: 850px;
  color: #ffffff;
  text-align: center;
  display: inline-block;
}

.header__wrapper, .content__wrapper {
  max-width: 1900px;
  height: 100%;
  padding: 0 15px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header__logo {
  width: 140px;
  height: 140px;
  margin-top: 80px;
  margin-bottom: 150px;
}

.header__logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header__title {
  margin-bottom: 50px;
  text-transform: uppercase;
  font-family: 'Segoe UI Bold';
  font-size: 80px;
  line-height: 30px;
}

.header__subtitle {
  max-width: 416px;
  font-family: 'Segoe UI Regular';
  font-size: 18px; 
  line-height: 30px;
  margin-bottom: 200px;
}

.header__icon {
  background: transparent;
  color: #fff;
  font-size: 15px;
  height: 45px;
  width: 45px;
  border: 2px solid #fff;
  border-radius: 50%;
  padding: 5px;
  text-align: center;
  margin-bottom: 50px;
  
}

.content__wrapper {
  background: url('./../images/background.jpg') center no-repeat;
  background-size: cover;
  padding-top: 130px;
  justify-content: space-between;
}

.content__about {
  max-width: 860px;
  font-size: 30px;
  font-family: 'Segoe UI Regular';
  line-height: 42px;
  color: #464b4f;
  margin-bottom: 60px;
  text-align: center;
}

.content__title {
  color: #464b4f;
  margin-top: 60px;
  margin-bottom: 100px;
  text-transform: uppercase;
  font-family: 'Segoe UI Bold';
  font-size: 80px;
  line-height: 36px;
}

.content__list {
  max-width: 935px;
  height: 100%;
  display: flex;
  align-items: center;
  margin: 0 auto;
  justify-content: space-between;
  margin-bottom: 60px;
}

.list__item {
  font-size: 18px;
  font-family: 'Segoe UI Regular';
  margin-right: 20px;
  color: #c4c4c4;
}

.list__name {
  color: #464b4f;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  line-height: 42px;
}
