  .item {
  &__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 400px;
    width: 100%;
    @media (max-width: 767px) {
      flex-direction: column;
      justify-content: space-around;
      width: 100%;
      }
  }
  &__img {
    min-height: 364px;
    max-width: 285px;
    @media (max-width: 767px) {
      width: 100%;
      }
  }
  &__text {
    max-width: 370px;
    height: 270px;
    text-align: right;
    overflow-y: auto;
    padding-right: 44px;
    @media (max-width: 767px) {
      min-height: 200px;
      padding-top: 20px;
      width: 100%;
      text-align: justify;
      }
    & .name {
      color: $darkgray;
      font-family: 'Open Sans', sans-serif;
      font-size: 20px;
      padding-bottom: 15px;
    }
    & .position {
      color: $gray;
      font-family: 'Source Sans Pro', sans-serif;
      text-transform: uppercase;
      font-size: 14px;
      line-height: 25px;
      padding-bottom: 25px;
    }
    & .description {
      color: $gray;
      font-family: 'Open Sans', sans-serif;
      font-size: 14px;
      line-height: 25px;
    }
  }
}

.ss-scroll {
  position: relative;
  background: $aqua;
  width: 4px;
  height: 42px !important;
  border-radius: 0;
  top: 0;
  z-index: 2;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.25s linear;
}
