@font-face {
	font-family: 'Proxima Nova Regular';
	src: url('./../fonts/ProximaNova-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'Futura PT Heavy';
	src: url('./../fonts/FuturaPT-Heavy.woff') format('woff');
	font-weight: heavy;
	font-style: normal;
}  

body {
    background-color: #454e52;
    font-family: Georgia, 'Times New Roman', Times, serif;    
}

.main-title {
    background: #000000;
    float: right;
    color: #ffffff;
    min-height: 190px;
    min-width: 880px;
    margin-top: -100px;
}

.main-title__wrapper {
    margin: 50px 0 50px 60px;
}

.main-title__subtitle {
    opacity: 0.3;
    font-size: 15px;
    font-family: 'Proxima Nova Regular';
    letter-spacing: 5px;
    text-transform: uppercase;
}

.main-title__title {
    font-size: 48px;
    font-family: 'Playfair Display', serif;
    text-transform: capitalize;
    position: relative; 
}

.main-title__title:after {
    content: "";
    width: 100%;
    height: 1px;
    position: absolute; 
    left:0; 
    bottom:0;
    color: #c2c2c2;;
}

.menu {
    background: #f8be00;
    float: right;
    clear: both;
    min-height: 80px;
    min-width: 810px;
}
.menu__icon {
    height: 30px;
    margin-left: 25px;
    margin-top: 25px;
    opacity: 0.6;
}

.menu__icon:hover {
    opacity: 1;    
}

.icon1 {
    padding-left: 20px; 
}

.container {
    background:#ffffff;
    margin: 150px 50px -10px 50px;    
}

.vertical-line { 
    border-left: 2px solid #c4c4c4; /* Параметры линии */
    margin-left: 100px; /* Отступ слева */
   }

.text {
    width: 810px;
    display: inline-block;
    padding-bottom: 35px;
    margin-left:110px;
    margin-top: 20px;
}

.text__author {
    color: #c4c4c4;
    font-size: 20px;
    font-family: 'Proxima Nova Regular';
    letter-spacing: 5px;
    text-transform: uppercase;
    line-height: 2;
}

.text__title {
    text-transform: uppercase;
    font-size: 78px;
    font-family: 'Futura PT Heavy';
    line-height: 1.5;
}

.text__subtitle {
    font-family: Georgia;
    color:#b1b1b1;
    font-style: italic;
    font-size: 30px;
	font-variant: normal;
    font-weight: 100;
    line-height: 0.1;
}

.text__story {
    margin-top: 50px;
    font-size:27px;
    text-align: justify;
    line-height: 1.5;
}

.paragraph {
    margin-bottom: 20px;
}

.italic { font-style: italic;}
