*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: all .3s ease-in-out;
}

* {
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
}

.title {
  margin-left: 300px;
  color: white;
  font-size: 20px;
  font-weight: 600;
  padding: 20px;
}

body {
  min-height: 100vh;
  background: #3399CC;
  border: 20px solid #2B81AC;
}

.cities {
  height: 434px;
  width: 689px;
  font-size: 0;
  text-align: center;
  margin: 0 auto;
  color: white;
  border: 2px solid #ccc;
 }

.item {
  display: inline-block;
  font-size: 20px;
  border: 2px solid #ccc;
  text-align: center;
  padding-top: 20px;
  opacity: .6;
}

.one-quater {
  width: 25%;
  height: 25%;
}

.one-half {
  width: 50%;
  height: 25%;
}
.full-width {
  width: 100%;
  height: 25%;
}

.wi {
  font-size: 30px;
}

.blue { background-color: #3399cc; }
.aqua { background-color: #33cccc; }
.violet { background-color: #996699; }
.red { background-color: #c24747; }
.orange { background-color: #e2674a; }
.yellow { background-color: #ffcc66; }
.olive { background-color: #99cc99; }
.steel{ background-color: #669999; }
.pink { background-color: #cc6699; }
.green { background-color: #339966; }
.purple { background-color: #666699; }

 .item:hover {
  opacity: 1;
 } 

.bottom {
  font-size: 15px;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  margin-left: 300px;
  color: white;
  margin-left: 300px;
  padding: 20px;
}

