body {
  padding: 15px;
}
.board {
  display: flex;
  max-width: 1000px;
  width: 100%;
  height: 900px;
  // width: 42em;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border: 1em solid #f57927;
  margin: 0 auto;
  
}

.element__black {
  width: 12.5%;
  height: calc(100% / 8);
  background: #271908;
  position: relative;
}

.item__checker--empty {
  position: static;
}

.element__black:after {
  position: absolute;
  content: '';
  top: 50%;
  left: 50%;
  width: 90%;
  height: 90%;
  border-radius: 50%;
  background-color: #fff;
  transform: translate(-50%, -50%);
}

.element__white {
    width: 12.5%;
  height: 12.5%;
  background: #e7dbcb;
  }
